@use "../color/main" as Color;

$focus : Color.$focus 2px solid ;   //重點色
$main : Color.$main 2px solid ;     //主色
$side-1 : Color.$side-1 2px solid ; //副色-1
$side-2 : Color.$side-2 2px solid ; //副色-2
$side-3 : Color.$side-3 2px solid ; //副色-3
$bg : Color.$bg 2px solid ;         //背景色
$white : Color.$white 2px solid ;   //白色
$black : Color.$black 2px solid ;   //黑色