$focus : #42b983;  //重點色
$main : #F1DAC4;   //主色
$side-1 : #A69CAC; //副色-1
$side-2 : #474973; //副色-2
$side-3 : #161B33; //副色-3
$bg : #0D0C1D;     //背景色
$white : #d9d9d9;     //白色
$black : #262626;     //黑色